<div class="row flex-center d-flex mx-auto" style="height: 100vh;">

    <!--Section: Content-->
    <section class="col-lg-12 pt-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

                <!-- Card -->
                <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay" style="max-height: 300px;">
                        <img class="card-img-top" src="<%= post.image %>" alt="<%= post.title %>" />
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h1 class="h3 font-weight-bold">
                            <a><%= post.title %></a>
                            <a href="/delete/post/<%= post._id %>">
                                <i class="far pl-3 text-warning fa-trash-alt"></i><span class="h5 text-warning">Delete</span>
                            </a>
                        </h1>
                        <!-- Data -->
                        <p>Written by <a><strong><%= post.userid.name %></strong></a>, <%= post.datePosted.toLocaleString() %></p>
                        <!-- Social shares -->
                        <div class="social-counters">
                            <!-- Facebook -->
                            <a class="btn btn-fb">
                                <i class="fab fa-facebook-f pr-2"></i>
                                <span class="clearfix d-none d-md-inline-block">Facebook</span>
                            </a>
                            <span class="counter">46</span>
                            <!-- Twitter -->
                            <a class="btn btn-tw">
                                <i class="fab fa-twitter pr-2"></i>
                                <span class="clearfix d-none d-md-inline-block">Twitter</span>
                            </a>
                            <span class="counter">22</span>
                            <!-- Google+ -->
                            <a class="btn btn-gplus">
                                <i class="fab fa-google-plus-g pr-2"></i>
                                <span class="clearfix d-none d-md-inline-block">Google+</span>
                            </a>
                            <span class="counter">31</span>
                            <!-- Comments -->
                            <a class="btn btn-default">
                                <i class="far fa-comments pr-2"></i>
                                <span class="clearfix d-none d-md-inline-block">Comments</span>
                            </a>
                            <span class="counter">18</span>
                        </div>
                        <!-- Social shares -->

                    </div>
                    <!-- Card content -->

                </div>
                <!-- Card -->

                <!-- Excerpt -->
                <div class="mt-3">

                    <p class="overflow-auto">
                        <%= post.body %>
                    </p>

                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Content-->


</div>